<% include header.html %>


<!--debugrob how to continually update values? -->
<!--debugrob just use refresh button (lame)? -->

<!-- columns are from 1 to 12 units wide.  using col-sm-6 would be two columns.
see: http://bootstrapdocs.com/v3.0.2/docs/css/
//debugrob: update this to bootstrap 4 (below is bootstrap 3)
-->
      <div class="col-sm-12">
<!--
    well is the grey background, rounded corner box
    I added the text-center to it
            <table class="table table-condensed">
-->
        <div class="well text-center">
            <table class="table table-striped">
              <tr> 
                <th style="text-align: left;"> 
                  <span class="fa fa-flask"></span> Experiment </th>
                <th style="text-align: left;"> 
                  <span class="fa fa-gear"></span> Treatment </th>
                <th style="text-align: left;"> 
                  <span class="fa fa-cube"></span> Device </th>
                <th style="text-align: left;"> 
                  <span class="fa fa-clock-o"></span> Time </th>
                <th style="text-align: left;"> 
                  <span class="fa fa-cogs"></span> Variable </th>
                <th style="text-align: left;"> 
                  <span class="fa fa-thermometer-half"></span> Value </th>
              </tr> 
              <% for( i=0; i < envVars.length; i++ ) { 
                   e = envVars[i];
              %>
              <tr> 
                <td style="text-align: left;"> <%= e.experiment %> </td>
                <td style="text-align: left;"> <%= e.treatment %> </td>
                <td style="text-align: left;"> <%= e.device %> </td>
                <td style="text-align: left;"> <%= e.time %> </td>
                <td style="text-align: left;"> <%= e.variable %> </td>
                <td style="text-align: left;"> <%= e.value %> </td>
              </tr> 
              <% } %>

            </table>

        </div>
      </div>

<% include footer.html %>
