<!doctype html>
<html>
<head>
    <title>OpenAg console</title>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>
            <span class="fa fa-heart-o"></span>
            <%= user.username %> Food Computer 
            <span class="fa fa-leaf"></span>
        </h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

<!--debugrob how to continually update values? -->
<!--debugrob just add refresh button (lame)? -->

<!-- columns are from 1 to 12 units wide.  using col-sm-6 would be two columns.
see: http://bootstrapdocs.com/v3.0.2/docs/css/
-->
        <div class="col-sm-12">
<!--
    well is the grey background, rounded corner box
    I added the text-center to it
-->
            <div class="well text-center">
                <p>
<!-- use bootstrap table styles 
    <table class="table table-striped">
      ...
    </table>
-->
                    <% 
                       console.log('username='+user.username);
                       console.log('var name='+user.envvars.name);
                    %>

                    <span class="fa fa-flask"></span>
                      <strong>Experiment</strong> <%= user.envvars.name %><br>

                    <span class="fa fa-gear"></span>
                      <strong>Treatment</strong> <%= user.username %><br>

                    <span class="fa fa-cube"></span>
                      <strong>Device</strong> <%= user.openag %><br>

                    <span class="fa fa-clock-o"></span>
                      <strong>Time</strong> <%= user.openag %><br>

                    <span class="fa fa-cogs"></span>
                      <strong>Variable</strong> <%= user.openag %><br>

                    <span class="fa fa-thermometer-half"></span> 
                      <strong>Value</strong> <%= user.openag %><br>
                </p>
                    
<!--debugrob this is a button that calls code in app/routes.js in User class
                <a href="/unlink/local" class="btn btn-default">Unlink</a>
-->

            </div>
        </div>

    </div>

    <div class="text-center">
    </div>

</div>
</body>
</html>
