<!doctype html>
<html>
<head>
    <title>OpenAg console</title>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>
            Configure your Food Computer
        </h1>
        <a href="/home" class="btn btn-default btn-sm">Data</a>
        <a href="/configure" class="btn btn-default btn-sm">Configure</a>
        <a href="/run" class="btn btn-default btn-sm">Run</a>
        <a href="/stop" class="btn btn-default btn-sm">Stop</a>
        <a href="/status" class="btn btn-default btn-sm disabled">Status</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

<!-- columns are from 1 to 12 units wide.  using col-sm-6 would be two columns.
see: http://bootstrapdocs.com/v3.0.2/docs/css/
      <div class="col-sm-12">
        <div class="well text-center">
            <table class="table table-striped">
              <tr> 
                <th style="text-align: left;"> 
                  <span class="fa fa-flask"></span> Experiment </th>
                <th style="text-align: left;"> 
                  <span class="fa fa-gear"></span> Treatment </th>
                <th style="text-align: left;"> 
                  <span class="fa fa-cube"></span> Device </th>
                <th style="text-align: left;"> 
                  <span class="fa fa-clock-o"></span> Time </th>
                <th style="text-align: left;"> 
                  <span class="fa fa-cogs"></span> Variable </th>
                <th style="text-align: left;"> 
                  <span class="fa fa-thermometer-half"></span> Value </th>
              </tr> 
              <% for( i=0; i < user.envVars.length; i++ ) { 
                   e = user.envVars[i];
              %>
              <tr> 
                <td style="text-align: left;"> <%= e.experiment %> </td>
                <td style="text-align: left;"> <%= e.treatment %> </td>
                <td style="text-align: left;"> <%= e.device %> </td>
                <td style="text-align: left;"> <%= e.time %> </td>
                <td style="text-align: left;"> <%= e.variable %> </td>
                <td style="text-align: left;"> <%= e.value %> </td>
              </tr> 
              <% } %>

            </table>

        </div>
      </div>
-->
    </div>

    <div class="text-center">
        <p>OpenAg license and linkz</p>
    </div>

</div>
</body>
</html>
